.timer-face .time-label {
  font-size: 72pt;
  font-feature-settings: "tnum" 1;
  font-weight: 400;
}

.timer-face .time-label.small {
  font-size: 48pt;
  font-feature-settings: "tnum" 1;
  font-weight: 400;
}

.timer-face.wait .time-label {
  color: @destructive_color;
}

.timer-face.ready .time-label {
  color: @success_color;
}

.timer-face .statistics-label {
  font-size: 1em;
}

.timer-face.timer-face-large .time-label {
  font-size: 96pt;
}

.timer-face.timer-face-large .time-label.small {
  font-size: 64pt;
}
